<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>

    <bean id="testBeanPostProcessor" class="com.leibangzhu.sample.springbeaninit.demo.TestBeanPostProcessor"></bean>

    <bean id="testBeanFactoryPostProcessor" class="com.leibangzhu.sample.springbeaninit.demo.TestBeanFactoryPostProcessor"></bean>

    <bean id="foo" class="com.leibangzhu.sample.springbeaninit.demo.Foo" init-method="initMethod" destroy-method="destroyMethod">
        <property name="name" value="foo"></property>
        <property name="bar" ref="bar"></property>
    </bean>

    <bean id="bar" class="com.leibangzhu.sample.springbeaninit.demo.Bar">
        <property name="name" value="bar"></property>
    </bean>

    <!-- more bean definitions go here -->

</beans>